useDynLib(OpenImageR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
import(jpeg)
import(png)
import(shiny)
import(tiff)
import(utils)

export(Augmentation)
export(HOG)
export(HOG_apply)
export(List_2_Array)
export(MinMaxObject)
export(NormalizeObject)
export(ZCAwhiten)
export(average_hash)
export(convolution)
export(cropImage)
export(delationErosion)
export(dhash)
export(down_sample_image)
export(edge_detection)
export(flipImage)
export(gamma_correction)
export(hash_apply)
export(imageShow)
export(image_thresholding)
export(invariant_hash)
export(phash)
export(readImage)
export(resizeImage)
export(rgb_2gray)
export(rotateFixed)
export(rotateImage)
export(translation)
export(uniform_filter)
export(writeImage)
